.pre-wrap {
  white-space: pre-wrap;
}

.list-group-item {
  background-color: #eee;
}

.list-group-item-heading {
  font-size: 16px;
}

.event-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #8bb02e;
}

.green-modal-title {
  color: #8bb02e;
}
