.pre-wrap {
  white-space: pre-wrap;
}

.list-group-item {
  background-color: #eee;
}

.list-group-item-heading {
  font-size: 16px;
}

.list-group-item-text {
  font-size: 20px;
  margin: 0;
  color: #8bb02e;
}

.green-modal-title {
  color: #8bb02e;
}
