.pre-wrap {
  white-space: pre-wrap;
}

.list-group-item {
  background-color: #eee;
}

a.list-group-item .list-group-item-heading, button.list-group-item .list-group-item-heading {
  font-size: 20px;
  color: #8bb02e;
}

.list-group-item-text {
  margin-bottom: 10px;
}

.green-modal-title {
  color: #8bb02e;
}
